.main {
    background: #000000;
    display: flex;
    gap: 160px;
    margin-top: 50px;
}

.mainText{
    padding: 190px 0px 190px 190px;

}
.mainSpan {
    color: #cdcdcd;
    font-size: 25px;
    font-weight: 600;
}
.mainTitle {
    font-size: 96px;
    color: rgb(244, 244, 244);
}

.mainTitle_span{
    font-weight: 200;
    color: #ffffff;
}

.mainDescr {
    color: #cdcdcd;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
}

.mainButton {
    padding: 15px 56px 15px 56px;
    background: transparent;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #cdcdcd;
    cursor: pointer;

    transition: 0.3s ;

}
.mainButton:hover {
    background: #dadada;
    color: #0f0101;
}
.mainImg {
    margin-right: 100px;
    max-width: 700px;
    padding-top: 50px;

}

/* ======================================================================= */
/* АДАПТИВ */
@media (max-width: 768px) {
    .mainImg {
        max-width: 500px;
        max-height: 500px;
    }
}