.main {
    background: #211C24;
    display: flex;
    gap: 160px;
    margin-top: 50px;
}

.mainText{
    padding: 190px 0px 190px 190px;

}
.mainSpan {
    color: #cdcdcd;
    font-size: 25px;
    font-weight: 600;
}
.mainTitle {
    font-size: 96px;
    color: aliceblue;
}

.mainTitle_span{
    font-weight: 200;
}

.mainDescr {
    color: #cdcdcd;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.mainButton {
    padding: 15px 56px 15px 56px;
    background: transparent;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    font-size: 18px;
    color: #cdcdcd;
    cursor: pointer;

    transition: 0.3s ;

}
.mainButton:hover {
    background: #ffffff;
    color: #0c0c0c;
}
