
.productPage {
    padding: 150px 160px 112px 280px;
    display: flex;
    gap: 50px;
}

.pageContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;

}

.pageImg {
    width: 400px;
}

.pageTitle {
    font-size: 40px;
    margin-bottom: 24px;
}

.pagePrice {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.pageDescr {
    margin-bottom: 20px;
    font-size: 18px;
}

.pageButton {
    padding: 15px;
    background: #0f0f0f;
    color: aliceblue;
    font-size: 20px;
    border-radius: 15px;
}